<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androiddeeplinks">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidDeeplinks">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <!--
                ACTION_VIEW intent action specifies that the intent filter can be reached
                from Google Search.
                -->
                <action android:name="android.intent.action.VIEW" />

                <!--
                DEFAULT category allows your app to respond to implicit intents.
                Without this, the activity can be started only if the intent specifies
                your app component name.
                -->
                <category android:name="android.intent.category.DEFAULT" />

                <!--
                BROWSABLE category is required for the intent filter to be accessible from a web browser.
                Without it, clicking a link in a browser cannot resolve to your app.
                -->
                <category android:name="android.intent.category.BROWSABLE" />

                <!--
                It might seem as though this supports only:
                https://developer.android.com and app://open.my.app
                However, it actually supports those two, plus these:
                app://developer.android.com and https://open.my.app
                -->
                <data
                    android:scheme="https"
                    android:host="developer.android.com" />
                <data
                    android:scheme="app"
                    android:host="open.my.app" />


            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="example"
                    android:host="android" />

            </intent-filter>
        </activity>
    </application>

</manifest>